@import "../../style/styles.module.scss";

.chatPage {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 335px 1fr;
  @include respond("tablet") {
    grid-template-columns: 1fr;
  }

}
