@import "../../style/styles.module.scss";
.inputTitle {
  color: $text-color;
  font-size: 12px;
  margin-bottom: 6px;
}
.inputForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.input_inner {
  width: 100%;
  height: 100%;
}
input {
  padding-left: 15px;
  width: 100%;
  height: 48px;
  border-radius: $border-radius;
  background-color: $white-color;
  border: 1px solid #01c5c4;
  box-shadow: $box-shadow;
  font-size: 18px;
}
input[type="password"] {
  color: $text-color;
  font-size: 46px;
}
.inputError {
  border: 1px solid $error-color;
}
.inputErrorText {
  color: $error-color;
}
