@import "../../../style/styles.module.scss";
.profileInfo {
  display: flex;
  align-self: flex-start;
  white-space: pre-line;
}
.profileInfo_avatar {
  margin-right: 16px;
}
.profileInfo_userInfo {
  font-size: 14px;
  .profileInfo_login {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .profileInfo_email {
    margin-bottom: 17px;
  }
}
