@import "../../../style/styles.module.scss";

.addRoomField {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  margin-left: 4px;
  justify-content: center;
}
.addRoomField::after{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  right: 3px;
  bottom: 0;
  border: 1px dashed $border-color;
  border-right: none;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  transform: scale(2);
  margin: 37px 80px;
  @include respond("tablet") {
    margin: 37px 74px;
  }
}
.addRoomField_button {
  max-width: 83px;
  height: 46px;
  align-self: center;
}
