@import "../../style/styles.module.scss";

.Chat {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 23px 81px;
  overflow: hidden;
  padding: 0 16px 16px;
  @include respond("mobile") {
    grid-template-rows: 1fr 23px 38px;
    padding: 0 13px 16px 9px;
  }
}

.Chat_messages {
  height: 100%;
  display: grid;
  overflow-y: scroll;
  width: 100%;
  word-break: break-all;
  padding: 0 16px 5px 0;
  &::-webkit-scrollbar {
    width: 11px;
    background: rgba(216,216,216,0.31);
  }
  &::-webkit-scrollbar-thumb {
    background: #D8D8D8;
  }
  @include respond("mobile") {
  overflow-y:auto;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
  padding: 0 3px 5px 1px;
}
}
.Chat_messages_inner {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);


  grid-row-gap: 8px;
  align-content: flex-end;
}
.Chat_footer {
  display: grid;
  grid-template-columns: 1fr 79px;
  column-gap: 16px;
  height: 100%;
  margin-right: 8px;
  @include respond("mobile") {
    margin-right: 0px;
    grid-template-columns: 1fr 38px;
    height: 38px;
  }
}
.isTyping_info {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.Chat_footer_input {
  width: 100%;
  height: inherit;
}
.button_bgImage {
  background-image: url(../../img/messageButton.png);
  background-repeat: no-repeat;
  background-position: top 12px left 13px;
  @include respond("mobile") {
    background-size: 24px 26px;
    background-position: top 6px left 4.5px;
  }
}
