@import "../../style/styles.module.scss";
.btn {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  border: 0;
  box-shadow: $box-shadow;
  color: $white-color;
  font-size: 18px;
  padding: 14px 19px;
  cursor: pointer;
}
.primary {
  background-color: $primary;
}
.secondary {
  background-color: $secondary;
}
