@import "../../../style/styles.module.scss";

.TextareaForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.Textarea_inner {
  width: 100%;
  height: 100%;
}
Textarea {
  padding: 12px 15px;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  background-color: $white-color;
  border: 1px solid #01c5c4;
  box-shadow: $box-shadow;
  font-size: 18px;
  color: $text-color;
  font-size: 18px;
  @include respond("tablet") {
    padding: 6px 7px 9px 9px;
  }
}
