@import "../../style/styles.module.scss";
.flex {
  width: 100%;
  border: 2px dashed $beige-color;
  background-color: rgba(241, 225, 137, 0.1);
  border-radius: 6px;
  padding: 8px;
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 10px;
  align-items: center;
}
.logo_input {
  max-width: 408px;
  width: 100%;
}
