@import "../../style/styles.module.scss";
.layout {
  background-color: $app-bg-color;
  height: calc(100% - 48px);
  width: 100%;
  margin: auto;
}
.layout_container {
  max-width: 1440px;
  height: 100%;
  background-color: $white-color;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
