@import "../../../style/styles.module.scss";
.menu {
  display: flex;
  background-color: $white-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  height: 100%;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-around;
  color: $text-color;
  margin: 5px 0;
}
.menu_item {
  flex-basis: 50%;
  margin: 0 11px;
  padding: 6px 8px;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #979797;
}
.menu_item:first-child {
  align-items: flex-end;
}
.menu_item:last-child {
  border: none;
}
.menu_wrapper {
  position: absolute;
}
.menu_wrapper_inner {
  position: absolute;
}
