@import "../../style/styles.module.scss";

.profilePage {
  width: 100%;
  height: 100%;
  max-width: 538px;
  padding: 100px 10px 10px;
  @include respond("mobile") {
    padding: 30px 10px 10px;
  }
}
.grid_container {
  display: grid;
  row-gap: 32px;
  grid-template-rows: repeat(3, min-content) 46px;
  grid-template-columns: 1fr;
  @include respond("mobile") {
    row-gap: 18px;
  }
}
.profileTitle {
  font-size: 36px;
  text-align: center;
}
.profileGraphic {
  width: 100%;
  height: 260px;
}
.profileButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 28px;
  height: 46px;

}
.button {
  width: 88px;
  height: 46px;
}
