@import "../../../style/styles.module.scss";
.room {
  width: 100%;
  height: 46px;
  border-bottom: 1px dashed $border-color;
  line-height: 46px;
  border-left: 14.9px solid $white-color;
  padding-left: 16px;
  cursor: pointer;
}
.active {
  border-left: 14.9px solid $primary;
}
