@import "../../style/styles.module.scss";
.registrationPage {
  max-width: 553px;
  height: 100%;
  display: grid;
  align-content: flex-start;
  padding: 126px 10px 10px;
  @include respond("mobile") {
    padding: 10px 10px 10px;
  }
}
.registration_inputs {
  display: grid;
  grid-auto-rows: minmax(92px, max-content);
}
.title {
  margin-bottom: 31px;
  text-align: center;
  font-size: 36px;
  @include respond("mobile") {
    margin-bottom: 5px;
  }
}

.logo_title {
  font-size: 12px;
  margin-bottom: 10px;
}

.register_btn {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.button {
  width: 136px;
  height: 46px;
}
