@import "../../style/styles.module.scss";
.header {
  width: 100%;
  height: 48px;
  color: $white-color;
  background-color: $primary;
}
.header_container {
  margin: auto;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  position: relative;
}
.logo {
  font-size: 24px;
}
.item {
  cursor: pointer;
}
.item a {
  color: $white-color;
  text-decoration: none;
  font-size: 16px;
}
.header_menu {
  width: 118px;
  position: absolute;
  right: 11px;
  top: 48px;
}
.logo_container {
  display: flex;
  align-items: center;
}

