$app-bg-color: #e7e7e7;

$primary: #01c5c4;
$secondary: #b8de6f;

$text-color: #6a6868;
$error-color: #ff6c26;
$border-color: #979797;
$beige-color: #f1e189;
$white-color: #ffffff;
$orange-color: #f39233, 100%;

:export {
  btnColorPrimary: $primary;
  btnColorSecondary: $secondary;
}
