$box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
$border: 1px solid $border-color;

$border-radius: 16px 4px 16px 4px;

@mixin respond($breakpoint) {
  @if ($breakpoint == extra-large) {
    @media (min-width: 1201px) {
      @content;
    }
  }
  @if ($breakpoint == large) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if ($breakpoint == tablet) {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == mobile) {
    @media (max-width: 480px) {
      @content;
    }
  }
}
