@import "../../style/styles.module.scss";
.loginPage {
  max-width: 553px;
  height: 100%;
  display: grid;
  row-gap: 16px;
  align-content: flex-start;
  padding: 126px 10px 10px;
  @include respond("mobile") {
    padding: 20px 10px 10px;
  }
}
.login_inputs {
  display: grid;
  grid-auto-rows: minmax(92px, max-content);
}
.title {
  margin-bottom: 31px;
  text-align: center;
  font-size: 36px;
}
.grid {
  display: grid;
  line-height: 49px;
  grid-template-columns: 1fr 83px;
  a {
    color: #01c5c4;
  }
}
