@import "../../style/styles.module.scss";

.burgerMenu {
  cursor: pointer;
  width: 24px;
  height: 21px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 8px;
  div {
    width: 100%;
    height: 5px;
    background: #d8d8d8;
  }
  @include respond("tablet") {
    display: flex;
  }
}
