@import "../../style/styles.module.scss";
.rooms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: $border;
  overflow-y: auto;
  font-size: 24px;
  background: $white-color;
  @include respond("tablet") {
    display: none;
  }
}
.rooms_open {
  @include respond("tablet") {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 310px;
  }
}

.rooms_header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 46px;
  border-bottom: 1px solid $border-color;
  line-height: 46px;
  background-color: rgba(241, 225, 137, 0.1);
}
.button_plus {
  width: 16px;
  height: 16px;
  background-color: rgba(241, 225, 137, 0.1);
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;

  svg {
    width: 100%;
    height: 100%;
    stroke: $text-color;
    stroke-width: 4.7;
  }
}
.close_button {
  transform: rotate(45deg);
}
