@import "../../style/styles.module.scss";
.avatar {
  border: $border;
  border-radius: 50%;
  background-color: $beige-color;
  overflow: hidden;
}

.avatar.large {
  width: 110px;
  height: 110px;
}

.avatar.small {
  width: 38px;
  height: 38px;
}

img {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
