@import "./style/styles.module.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
p {
  color: $text-color;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 400;
}
.App {
  height: 100vh;
  width: 100vw;
}
.App,
input {
  font-family: Helvetica;
  font-weight: 400;
  color: $text-color;
}
