@import "../../style/styles.module.scss";
.message {
  max-width: calc(100% - 256px);
  height: 100%;
  display: flex;
  gap: 16px;
  margin-right: auto;
  @include respond("small") {
    max-width: calc(100% - 96px);
  }
  @include respond("tablet") {
    max-width: 100%;
  }
}
.message_avatar {
  order: 2;
}

.message_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  order: 3;

  p {
    word-wrap: break-word;
    color: $white-color;
  }
}
.description {
  background-color: $primary;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 9px 10px;
  width: fit-content;
}
.interlocutor_message {
  margin-left: auto;
  margin-right: 0;
  .message_text {
    order: 1;
    align-items: flex-end;
  }
  .massage_date {
    align-self: flex-end;
  }
  .description {
    background-color: $secondary;
  }
}
.massage_date {
  align-self: flex-start;
  padding-top: 5px;
  p {
    color: #6a6868;
    font-weight: 400;
    font-size: 12px;
  }
}
